@import url("https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .textField__input {
    @apply w-full text-slate-400 bg-primary border-slate-100 border p-4 rounded-lg focus-visible:outline-none caret-white;
  }

  .primary__btn {
    @apply w-full p-4 rounded-lg shadow-sm transition duration-200 font-bold;
  }
}

.react-datepicker-wrapper {
  width: 100%;
  color: white;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.react-datepicker__month-container,
.react-datepicker__header {
  background-color: #202124 !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: white !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white !important;
}

.react-datepicker {
  border: 2px solid #aeaeae;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #424242 !important;
}

/* drop down */
select {
  background: url("data:image/svg+xml,<svg stroke='currentColor' fill='darkgray' stroke-width='0' viewBox='0 0 448 512' height='200px' width='200px' xmlns='http://www.w3.org/2000/svg'><path d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'></path></svg>")
    no-repeat;
  background-position: right 1em top 50%, 0 0;
  background-size: 1.2rem auto, 100%;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}
